body{
    margin:0px;
    border:0px;
    box-sizing: border-box;
}

.background{
    position:fixed;
    width:100%;
    height: 100vh;
    background-color:#dedede;
}

.container{
    box-sizing: border-box;
    width:50%;
    height:70%;
    background-color:#e9e9e9;
    padding: 2% 5%;
    margin-left: 50%;
    margin-top:50vh;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 10px #ababab;
    overflow: hidden;
}

fieldset{
    border:none;
    padding: 0px;
}

fieldset legend{
    margin: 0.5em 0.5em 0.5em 50%;
    transform:translateX(-50%);
    font-size: 2em;
    font-family: 'Helvetica',sans-serif;
    color:#b0aeae;
}

.input-container{
    display: inline-flex;
    box-sizing: border-box;
    width:100%;
    height:2em;
}
.container input{
    box-sizing: border-box;
    width:96%;
    height:100%;
    border: solid 1px #c4c4c4;
    border-radius: 0.3em;
    background-color: #e7e7e7;
    color:#5d5d5d;
    padding-left: 1em;
}

.container input:focus{
    outline:none;
    border: solid 1px #a8d4e8;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 15px #95bccd;
}

fieldset button{
    font-weight: bold;
    padding:0px 0.5em;
    height:100%;
    width:4%;
    box-sizing: border-box;
    display:inline-block;
    border:none;
    border-radius:0.3em;
    margin-left:0.5em;
    background-color:#0da707;
    color:white;
}

fieldset button:active{
    outline:none;
    background-color: #097804;
}

/* to get rid of wierd outline appearing on chrome */
fieldset button:valid{
    outline:none;
}

.list-container{
    overflow-x: none;
    overflow-y:scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /*firefox*/
    height:auto;
    max-height: 40vh;
    width:100%;
    margin-top:2em;
    /* background-color:#adadad; */
}

/*hide scrollbar for chrome and safari*/
.list-container::-webkit-scrollbar {
  display: none;
}

.list{
    width:100%;
    padding:0px;
    list-style: none;
}

li{
    width:90%;
    height:3em;
    margin-left: 1em;
    display:inline-grid;
    grid-template-columns: 2em auto 3em;
    grid-column-gap: 0px;
    box-sizing: border-box;
    color: #4b4b4b;
    font-size:1em;
    font-family:'Helvetica',sans-serif;
    color:#8b8b8b;
    text-decoration:none;;
    background-color:#e9e9e9;
    box-shadow: 0px 0px 1px #9d9d9d;
}

.list li label{
    box-sizing: border-box;
    height: 1em;
    padding: 1em 0em 1em 0em;
    width:auto;
    display:inline-block;
    margin-left: 1em;
    font-weight: bold;
    color:#777777;
}

/*checkbox*/
.list li input{
    display: inline-block;
    height:1em;
    margin:auto 0px;
    margin-left: 1em;
    box-shadow: none !important;
}

.list li button{
    display:inline-block;
    font-size: 1.5em;
    height:100%;
    width:2em;
    background-color:transparent;
    border:none;
    color:#7c7c7c;
}


.list li button:hover{
    background-color: #ababab;
    outline:none;
    color:white;
}

.list li button:active{
    background-color: #607893;
    outline:none;
}

.list li button:valid{
    outline:none;
}


@media only screen and (max-width: 600px) {
    .container{
        height: 95%;
        width:90%;
    }

    fieldset legend{
        margin:1em 0px;
        text-align: center;
        width:100%;
        transform:translateX(0%);
    }

    .input-container{
        height:2em;
    }

    .container input{
        width:90%;
    }

    fieldset button{
        width:10%;
    }

    .list-container{
        max-height: 65vh;
    }

    li{
        margin: 0px 0px 0px 5px;
        width:96%;
    }

    .list label{
        width:70%;
    }

    .list li button{
        width:4%;
        padding-top:4%;
    }

    .list li button:active{
        width:5%;
        padding-top: 5%;
    }

}
