/* color palette for repeated colors */
.container{
    /* colors for light theme */
    --light-background-color:#c9c9c9;
    --light-text-color:#818181;
    --light-hover-color: #a2a0a0;
    --light-active-color: #747171;
    --light-hover-text-color: #d7d0d0;

    /* colors for dark theme */
    --dark-background-color:#535252;
    --dark-text-color:#8f8b8b;
    --dark-hover-color: #343333;
    --dark-active-color: #252424;
    --dark-hover-text-color: #d7d0d0;

    /*colors that are actually used. references can be changed to light or dark theme colors using JS*/
    --background-color: var(--light-background-color);
    --text-color:var(--light-text-color);
    --hover-color:var(--light-hover-color);
    --hover-text-color:var(--light-hover-text-color);
    --active-color:var(--light-active-color);

    display:inline-grid;
    grid-template-columns:  2em 2em 2em 2em;
    grid-template-rows:2em;
    align-content:center;
    padding:0px;
    margin:0px;
    width:auto;
}

h2{
    font-family: 'Helvetica',sans-serif;
    font-size:1em;
    color:green;
}

button{
    outline:none;
    box-sizing: border-box;
    background-color: var(--background-color);
    color:var(--text-color);
    border:none;
}

button:hover{
    background-color:var(--hover-color);
    color:var(--hover-text-color);
}

button:active{
    /* to prevent weird chrome outline */
    outline:none;
    /* to prevent weird button animation on mozilla */
    padding:0px;
    background-color:var(--active-color);
}

button:valid{
    /* to prevent weird chrome outline */
    outline:none;
}

.count{
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}
